[defaults]
inventory = hosts
remote_user = ubuntu
host_key_checking = False
deprecation_warnings = False
collections = ansible.posix, community.general, kubernetes.core
enable_plugins = kubernetes.core.k8s